# Environment variables
.env
.env.*
!.env.example

# Docker volumes
volumes/

# certs
certs/

# Operating System Files
.DS_Store
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
logs/
npm-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock 